@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14, .26, 1.24);
}
:root{
    --blue:#2980b9;
}

*::selection{
    background: #ff3300;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    height: 2000px;
}
.header-1, .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;

}
.logo{
    font-size: 2rem;
    color: #666;
}

.logo i{
    color: var(--blue);
}
.form-container form{
    display: flex;
}
#search{
    height: 4rem;
    width: 50rem;
    outline:none;
    border: .2rem solid #666;
    font-size: 1.5rem;
    padding: 0 1rem;
}
#search:focus{
    border-color: var(--blue);
}

.form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--blue);
    color: #fff;;
}
.form-container form label:hover{
    color: gold;
}

/* media queries */
@media (max-width:768px){
    html{
        font-size: 55%;
    }
    .form-container form #search{
        width: 100%;
        
    }
    #menu{
        display: block;
    }
    .nav-bar{
        position: fixed;
        top: -200rem%; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
        z-index: 10000;
        opacity: 0;
    }
    .header-2 .nav-bar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue),rgb(109, 108, 110));
        border: .2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding: 4rem 0;
        width: 20rem;

    }
    .nav-bar ul li{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
    .nav-bar ul li a{
        font-size: 2.5rem;
        display: block;
    }
   .fa-times{
        transform: rotate(180deg);
        color: yellowgreen;
   }
   .nav-toggle{
       top: 50%;
       opacity: 1;
   }
}
@media (max-width:480px) {
    .header-1{
        flex-flow: column;
        padding: 1rem;
    }
    .logo{
        padding-bottom: 1.5rem;
    }
    #menu{
        display: block;
    }
    /* .nav-bar{
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
        z-index: 10000;
    }
    .nav-bar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue),blueviolet);
        border: .2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding: 4rem 0;
        width: 27rem;
    } */

    
}
.header-2{
    background-color: var(--blue);
    display: flex;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul li{
    margin: 0 1rem;
}
.nav-bar ul li a{
    font-size: 2rem;
    color: white;
}

.active, .nav-bar ul li a:hover{
    color: yellow;
}
.icons a{
    color: #fff;
    font-size: 2rem;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 0 1re;
}
.icons a:hover{
    color: yellow;
}
#menu{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: block;
}
.header2 .header-active{
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.3);
}
.home .home-slider .item{
    position: relative;
}
.item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.item .content{
    position: absolute;
    top: 50%; left: 5%;
    transform: translateY(-50%);
}
.content h3{
    color: #fff;
    text-shadow: 0 .3rem .5rem blueviolet;
    font-size: 5rem;
    text-transform: capitalize;
}
.content p{
    color: #fff;
    text-shadow: 0 .3rem .5rem rgb(2, 0, 3);
    font-size: 2rem;
    padding: 2rem 0;
    width: 50rem;
}
.btn{
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    color:#fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}
.btn:hover{
    letter-spacing: .2rem;
    opacity: .9;
}